/*   RESET   */

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,*::before,*:after{
    box-sizing: inherit;
}

.wrapper{
    width: 1440px;
    margin: 0 auto;
}


/*   BASE   */

Body{
    font-family: "Rosarivo", cursive;
    font-weight: 400;
    font-style: normal;

    background-color: #FFEDEE;
}


h1{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800px;
    font-style: normal;

    font-size: 3.8rem;
}

h2{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;

    font-size: 3.6rem;
}

h3{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-style: normal;

    font-size: 2.7rem;
}

h4{
    font-family: "Trirong", serif;
    font-weight: 600;
    font-style: normal;

    font-size: 2.0rem;
}

h5{
    font-family: "Trirong", serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1.8rem;
}

p.sous-titre{
    font-family: "Rosarivo", cursive;
    font-weight: 400;
    font-style: normal;

    font-size: 1.6rem;
}

p{
    font-family: "Rosarivo", cursive;
    font-weight: 400;
    font-style: normal;

    font-size: 1.8rem;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

/*{}  {}  {}  */

/*   MISE EN PAGE   */




/*   MODULES   */

/* header */

header{
    background-color: #C06B6B;

    height: 60px;
}

header ul{
    display: flex;
    justify-content: center;
    text-align: center;

    gap: 72px;
}

header li{
    display: flex;
    align-items: center;
}

header a{
    color: black;
    padding-bottom: 10px;

    text-transform: uppercase;
}

nav ul{
    margin: auto;
}

/* hero */

.hero{
    background-image: url(../Images/HERO.jpg);
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
}

.boite{
    width: 560px;

    float: right;
    margin-top: 370px;
    padding: 30px 30px 30px 30px;

    background-color:rgba(192, 107, 107, 0.85) ;
    color: white;
}

.hero h1{
    margin-top: auto;
    margin-bottom: 20px;

    padding-bottom: auto; 
}

/* section inscription */

section.inscription{
    height: 327px;

    text-align: center;
}

.texte_inscription{
    width: 586px;

    margin-left: 430px;

}

.texte_inscription h2{

    margin-top: auto;
    margin-bottom: 33px;
    padding-top: 60px;
    
}

.texte_inscription p{
    padding-bottom: 57px;
}

.bouton{
    color: white;
    background-color: #FFB8B8;

    padding: 10px 30px 7px 30px;

    border: 1px solid #C06B6B;
}
/*   AIDE MISE EN PAGE   */


