/*   RESET   */

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,*::before,*:after{
    box-sizing: inherit;
}

.wrapper{
    width: 1319px;
    margin: 0 auto;
}


/*   BASE   */

Body{
    font-family: "Rosarivo", cursive;
    font-weight: 400;
    font-style: normal;

    background-color: #FFEDEE;
}


h1{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800px;
    font-style: normal;

    font-size: 3.8rem;
}

h2{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;

    font-size: 3.6rem;
}

h3{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-style: normal;

    font-size: 2.7rem;
}

h4{
    font-family: "Trirong", serif;
    font-weight: 600;
    font-style: normal;

    font-size: 2.0rem;
}

h5{
    font-family: "Trirong", serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1.8rem;
}

p.sous-titre{
    font-family: "Rosarivo", cursive;
    font-weight: 400;
    font-style: normal;

    font-size: 1.6rem;
}

p{
    font-family: "Rosarivo", cursive;
    font-weight: 400;
    font-style: normal;

    font-size: 1.8rem;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

/*{}  {}  {}  */

/*   MISE EN PAGE   */
header ul{
    display: flex;
    justify-content: center;
    text-align: center;

    gap: 72px;

    padding-left: 0;
}

header li{
    display: flex;
    align-items: center;
}


/*   MODULES   */

/* header */

header{
    background-color: #C06B6B;

    height: 60px;
    padding-right: 45px;
}


header a{
    color: black;
    padding-bottom: 10px;

    text-transform: uppercase;
}

nav ul{
    margin: auto;
}

/* hero */

.hero{
    background-image: url(../Images/HERO.jpg);
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
}

.boite{
    width: 560px;

    float: right;
    margin-top: 370px;
    padding: 30px 30px 30px 30px;

    background-color:rgba(192, 107, 107, 0.85) ;
    color: white;
}

.hero h1{
    margin-top: auto;
    margin-bottom: 20px;

    padding-bottom: auto; 
}

/* section inscription */

section.inscription{
    height: 327px;

    text-align: center;
}

.texte_inscription h2{
    display: flex;
    justify-content: center;

    text-align: center;

    margin-top: auto;
    margin-bottom: 33px;
    padding-top: 60px;

}

.texte_inscription p{
    padding-bottom: 57px;

    margin: 0 430px 0 430px;
}

.bouton{
    color: white;
    background-color: #FFB8B8;

    padding: 10px 30px 7px 30px;

    border: 1px solid #C06B6B;

    text-align: center;
}

/* section équipe */

section.équipe{
    background-color: white;

    height: 696px;
}

.équipe h2{
    margin-top: auto;

    padding-top: 55px;
}

.texte_equipe{
    margin-bottom: 38px;
    text-align: center;
}

.texte_equipe p{
    text-align: center;
    display: flex;
    justify-content: center;

    margin: 0 391px 0 391px;
}

.équipe img{
    width: 363px;
    height: 363px;

    border-radius: 50%;

    justify-content: space-around;
}

.employées{
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;

    gap: 115px;

}

.employées h3{
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* section produits */

.texte_produits h2 p{
    width: 683px;
    text-align: center;

    display: flex;
    justify-content: center;
}

.texte_produits h2{
    text-align: center;
    margin-top: 0;
}

.texte_produits p{
    text-align: center;
    margin: 0 378px 48px 378px;
}

.texte_produits img{
    background-color: white;
}

.filtres{
    display: flex;
    gap: 50px;

    text-transform: uppercase;
}

.filtres a{
    padding: 8px 52px 8px 52px;
    color: white;
    background-color: #FFB8B8;
}

.parfums_produits{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin-top: 50px;
    column-gap: 72px;
}

.info_parfum{

    text-align: center;
    line-height: 1px;
}

.parfum01, .parfum02, .parfum03, .parfum04, .parfum05, .parfum06, .parfum07, .parfum08{
    margin-bottom: 39px;
    width: 275px;
}


.parfum{
    background-color: white;
}

.parfum:hover{
    background-color:rgba(192, 107, 107, 0.50);
    border: 1px solid #C06B6B;
}

.produits a{
    display: flex;
    justify-content: center;
    
}

.bouton2{
    color: white;
    background-color: #FFB8B8;

    padding: 13px 39px 10px 39px;
    margin: 0 530px 0 530px;
    border: 1px solid #C06B6B;

    text-align: center;

    text-transform: uppercase;
}

a.bouton2{
    margin-top: 30px;
}

section.produits{
    margin-bottom: 50px;
    margin-top: 50px;

    height: 1232px;
}


/* section contact */

section.contact{
    border: 50px solid #C06B6B;
    height: 955.28px;
    background-color: #E8CCC4;
}


.contact h2{
    margin-top: 62px;

    text-align: center;
    text-transform: uppercase;
}



.envoyer_courriel{

    padding: 13px 39px 10px 39px;
    margin: 0 530px 0 530px;

    margin-top: 30px;

    border: 1px solid #C06B6B;
    color: #C06B6B;
    font-size: 2.4rem;

    text-align: center;
    text-transform: uppercase;

    display: flex;
    justify-content: space-between;

}


.infos_contact{
    display: flex;
    align-items: center;
    

    column-gap: 79px;
}

.infos_contact_texte p{
    margin-bottom: 40px;
}

.infos_contact .location{
    margin-bottom: 40px;
}


.infos_contact_texte h4{
    margin: 0;
}

.reseaux_sociaux{
    margin-top: 20px;
}

.material-symbols-outlined{
    font-size: 5.0rem;
    font-weight: 700;

    margin-right: 10px;
}



/* Listes des articles */

.parfum09, .parfum10, .parfum11, .parfum12, .parfum13, .parfum14{
    margin-bottom: 39px;
    width: 373px; 
}

.parfums_produits_page2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    margin-top: 60px;
    column-gap: 103px;
}

.parfum11 .parfum{
    padding-left: 100px;
}





/*   AIDE MISE EN PAGE   */


